body {
    background-image: url(UMC\ 배경화면.svg);
    background-size: cover;
}

h1 {
    font-size: 40px; /*h1 글씨 크기 변경*/
    letter-spacing: -3px; /*글자간 여백 줄이기*/
    padding-top: 10px;
}

.container {
    height: 400px;
    width: 700px;
    background-color: #e9edff9f;
    opacity: 80;
    border-radius: 20px;
    text-align: center; /*텍스트 중간정렬*/
    /*정중앙 정렬*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.idpw {
    color: white; /*아이디 비번 텍스트 색*/
    text-align: left;
    margin-left: 230px;
}

input {
    background-color: #ebeeff9f;
    opacity: 1;
    border: 1px;
}

input::placeholder {
    color: #cccccc;
}

.horizontal-line1 {
    border: none;
    height: 1.5px;
    background-color: #ccc;
    width: 50%;
    margin-top: -10px; /*로그인이랑 구분선 간격 가까이*/
    margin-bottom: 40px; /*구분선이랑 아이디랑 간격 멀리*/
}

.horizontal-line2 {
    border: none;
    height: 1.5px;
    background-color: #ccc;
    margin: 10px 0; /*상하 좌우 여백간격*/
    width: 240px;
}

.login-button {
    background-color: #353535;
    border-radius: 15px;
    height: 50px;
    width: 250px;
    border: none;
    opacity: 50;
    color: rgb(215, 215, 215);
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;/
}