.header-container {
  background-color: rgb(0, 10, 153);
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner-container{
  display: flex;
  width: 600px;
  justify-content: space-between;
}
.letter-frame{
  color: white;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-button {
  background-color: #3498db;
  color: #fff;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}