body {
    background-image: url(UMC\ 배경화면.svg);
    background-size: cover;
}

h1 {
    font-size: 40px; /*h1 글씨 크기 변경*/
    letter-spacing: -3px; /*글자간 여백 줄이기*/
}

.container {
    height: 630px;
    width: 700px;
    background-color: #e9edff9f;
    opacity: 80;
    border-radius: 20px;
    text-align: center; /*텍스트 중간정렬*/

    /*정중앙 정렬*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.idpw {
    color: white; /*아이디 비번 텍스트 색*/
    text-align: left;
    margin-left: 230px;
}

p {
    margin-bottom: 4px; /*글씨랑 버튼 간격*/
}

input {
    background-color: #9A9CA6;
    height: 27px;
    width: 230px;
    border-style: solid;
    border-color: #ededed;
    border-radius: 5px;
    border-width: 2px 2px 2px 2px;
}

#name {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}
#message {
    font-size: 18px;
    margin-top: 10px;
}

.horizontal-line1 {
    border: none;
    height: 1.5px;
    background-color: #ededed;
    width: 50%;
}

#open {
    background-color: #353535;
    border-radius: 15px;
    height: 50px;
    width: 250px;
    border: none;
    opacity: 50;
    color: rgb(215, 215, 215);
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;/
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    background: white;
    padding: 24px 16px;
    border-radius: 4px;
    width: 320px;
}
  
.modal-title {
    font-size: 24px;
    font-weight: bold;
}

.modal p {
    font-size: 16px;
}

.close-wrapper {
    text-align: right;
}

#close {
    font-size: 16px;
}