.myDiv {
    background-color: rgba(231, 238, 255, 0.5); 
    border-radius:20px;
    width:700px;
    height:500px;
    text-align:center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
}
::placeholder{
    color:white;
}

input{
    size:25;
    justify-content:center;
    background: transparent; 
    border:none; 
}

button{
    padding: 10px 70px;
    background-color:rgb(63, 63, 63); 
    border-radius:5px; 
    font-size: 15px;
    color:white;
}

body{
    background-image: url("Background.svg");
    justify-content: center;
    align-items: center;
}

.submit{
    padding: 10px 5px;
    background:transparent; 
    color:rgb(45, 45, 45);
    margin: 10px;
    cursor: pointer;
}
.submit-con{
    display: flex;
    justify-content: center;
}
